<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div class="login-container">
   
   <h1>User LOGIN:</h1>   
   <form action="validate" method="post">

         <label>Email </label>
         <input type="email" name="email" />
         <br><br>
    
         <label>Password </label>
         <input type="password" name="password" />
          <br><br>
    
         <input type="submit" value="LOGIN" />
  
    </form>
</div> 
</body>
</html>