<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registration</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="registration-container">
  <h1> User REGISTRATION:</h1>
<form action="register" method="post">
   <label>User name:</label>
   <input type="text" name="username" />
   <br><br>
             
   <label>Email :</label>
   <input type="text" name="email" />
   <br><br>
   
   <label>Password :</label>
   <input type="text" name="password" />
   <br><br>
   
   <label> Gender :</label>
   M<input type="radio" name="gender" value="male" />
   F<input type="radio" name="gender" value="female" />
   O<input type="radio" name="gender" value="others" />
   <br><br>
   
   <label> Role :</label>
   Admin   <input type="radio" name="role" value="admin" />
   Customer<input type="radio" name="role" value="customer" />
   <br><br>
   
   <label> Address :</label>
   <textarea name="address"></textarea>
   <br><br>
   
   <input type="submit" />
  
</form>

</div>
</body>
</html>